@import "../../scss/vars.scss";

.staff {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}

.card-title-block {
    background: #F5F5F5;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
    padding: 8px 0 5px 21px;
}

.headline-title {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $black-l1;
}

.notification-count {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    border-radius: 6px;
    background-color: $red-s1;
    color: $white;
    padding: 1px 11px;
    margin: 0 0 0 10px;
}

.tabs {
    display: flex;
    margin: 14px 0 0 0;
}

.tabs .tab:first-child {
    border-left: 1px solid $gray-l0;
}

.tab {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    border: 1px solid $gray-l0;
    border-left: none;
    border-bottom: none;
    border-radius: 6px 6px 0px 0px;
    background: #F5F5F5;
    color: $gray-l2;
    padding: 11px 15px;
}

.tab-active {
    color: $black-l1;
    background: $white;
}

.staff-info {
    border: 1px solid #DDDDDD;
    border-top: none;
    margin: -5px 0 0 0;
    border-radius: 6px;
    background: $white;
}

.staff-info-wrapper {
    max-width: 960px;
    margin: 0 auto 21px auto;
}

.staff-info-count-block {
    display: flex;
    justify-content: space-between;
    padding: 18px 0 0 0;
}

.staff-info-count-item {
    border-radius: 6px;
    background-color: $gray-l3;
    padding: 8px 0;
}

.all {
    background: rgba(39, 174, 96, 0.1);
}

.all,
.blue-s1,
.orange-s1,
.red-s1 {
    position: relative;
}

.all::before,
.blue-s1::before,
.orange-s1::before,
.red-s1::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 26px;
    border-radius: 6px;
    top: 5px;
    left: 5px;
}

.all::before {
    background-color: $green-s1;
}

.blue-s1::before {
    background-color: $blue-s1;
}

.orange-s1::before {
    background-color: $orange-s1;
}

.red-s1::before {
    background-color: $red-s1;
}

.item-name {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: $black-l1;
    padding: 0 0 0 17px;
}

.item-count {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: $gray-l2;
    padding: 0 5px 0 80px;
}

.staff-slider {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid $gray-l0;
    border-radius: 6px;
    margin: 13px 0 0 0;
    padding: 20px 45px 0px 45px;
}

.staff-slider-item {
    width: 33.3333%;
    margin: 0 0 21px 0;
}

.staff-item {
    display: flex;
}

.staff-avatar {
    display: inline-block;
    text-decoration: none;
    width: 24px;
    height: 24px;
    margin: 0 0 0 -4px;
}

.staff-name {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: $black-l1;
    margin: 3px 0 0 10px;
    text-decoration: none;
}

.staff-profession {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: $gray-l2;
    margin: 1px 0 0 10px;
}

.staff-time {
    margin: 7px 57px 0 -5px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 6px;
    text-transform: uppercase;
}

.blue {
    background: rgba(45, 156, 219, 0.1);
    border-radius: 6px;
    color: $blue-s1;
}

.orange {
    background: rgba(242, 153, 74, 0.1);
    border-radius: 6px;
    color: $orange-s1;
}

.staff-slider-left-button,
.staff-slider-right-button {
    position: absolute;
    top: 46%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.staff-slider-left-button {
    left: 0;
}

.staff-slider-right-button {
    right: 0;
}