@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import "./scss/vars.scss";

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: #E5E5E5;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-content {
    position: relative;
}

.main-content {
    width: 1000px;
    margin: 77px -19px 0 0;
    float: right;
}

.event-waterfall-and-notifications {
    display: flex;
}