$gray-l1:       #ECECEC;
$gray-l2:       #F5F5F5;
$gray-l3:       #F8F8F8;
$white:         #FFFFFF;
$gray-l0:       #DDDDDD;
$gray-l1:       #959595;
$gray-l2:       #616061;
$black-l1:      #1D1C1D;
$black-abs:     #000000;
$green-s1:      #27AE60;
$green-s2:      #D4EFDF;
$green-s3:      #EAF7F0;
$blue-s1:       #2F80ED;
$blue-s2:       #D5E6FB;
$blue-s3:       #EBF3FE;
$orange-s1:     #F2994A;
$orange-s2:     #FCEBDB;
$orange-s3:     #FEF5ED;
$yellow-s1:     #F2C94C;
$yellow-s2:     #FBEFCC;
$yellow-s3:     #FEFAEE;
$red-s1:        #FF0F00;
$red-s2:        #FFCFCC;
$red-s3:        #FFE7E6;
$fanki-s1:      #FF4C00;
$fanki-s2:      #FFEEE6;
$fanki-s3:      #FFDBCC;